*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    background:url('/angkor.jpg') no-repeat ;
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    margin-top: 100px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border:2px solid black;
    width: 450px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    border-radius: 20px;
}
.container h1{
    margin: 10px 0;
}

.input{
    width: 100%;
}
.input input{
    padding: 1rem;
    width: 100%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: transparent;
    color: black;
}

.input input::placeholder{
    color: black;
}

.login-btn{
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px ;
    background-color: transparent;
    color: black;
}

.login-btn:hover{
    color: aqua;

}
.help{
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}

#rmbr-me{
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.help a{
    font-size: 20px;
    color: black;
}

.register{
    color: black;
    font-size: 22px;
    margin: 20px 0;
    text-decoration: underline;
}
a:hover{
    color: rgb(21, 214, 198);
}
